html,
body {
    padding: 0;
    margin: 0;
    background-color: #D95B43;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}
body {
    text-align: center;
}
a{
    color: #ECD078;
    font-weight: bold;
    text-decoration: none;
    font-size: 2em;
}
.board {
    position: relative;
    width: 500px;
    height: 700px;
    display: inline-block;
    z-index: 2;
    background-color: #ECD078;
}
.header {
    width: 100%;
    height: 14.3%;
    color: white;
    background-color: #D95B43;
    position: relative;
    z-index: 200;
}
.card_zone {
    width: 100%;
    height: 71.4%;
    z-index: 10;
    position: relative;
}
.card {
    font-size: 6em;
    text-shadow: 0 0 40px black, 0 0 0px black;
}
.figs_zone {
    background-color: #D95B43;
    width: 100%;
    height: 14.3%;
}
.figs_zone .fig {
    cursor: pointer;
    text-shadow: 0 0 20px black, 0 0 0px black;
}
.fig {
    height: 100%;
    width: 20%;
    /*background-color: blue;*/
    /*text-shadow: 0 0 20px black, 0 0 0px black;*/
    float: left;
    border-radius: 50%;
    z-index: 10;
    position: relative;
    font-size: 3.5em;
}
.grey {
    color: grey;
}
.blue {
    color: blue;
}
.white {
    color: white;
}
.red {
    color: red;
}
.green {
    color: green;
}
.score {
    float: right;
}
.time {
    text-align: center;
}
.level_zone {
    position: absolute;
    background: linear-gradient( 0deg, red, white );
    width: 100%;
    height: 100px;
    bottom: 0;
    z-index: 1;
}
.level_zone_bg {
    position: absolute;
    width: 100%;
    height: 0;
    background-color: #D95B43;
    bottom: 14.3%;
    z-index: 1;
}

.hide {
    display: none;
}


.start_dialog {
    /*display: none;*/
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #D95B43;
}
.play {
    text-align: center;
}
 a.start_btn {
    font-size: 3em;
    /*background-color: #D95B43;*/
    color: #ECD078;
    text-decoration: none;
    text-shadow: 0 0 60px black, 0 0 0px black;
    position: absolute;
    top: 45%;
    left: 45%;
 }

 .consign {
    padding: 0.5em;
    background-color: #ECD078;
    color: #542437;
    font-size: 1em;
    position: absolute;
    top: 12%;
    text-align: left;
 }

